<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Admin Dashboard</h1>
    <a href="{{ url_for('admin.manage_questions')}}">
        <button class="dashboard-button">Manage Questions</button>
    </a>
    <a hred="{{url_for('admin.quiz_list')}}">
        <button class="dash-button">Quiz List</button>
    </a>
    <a href="{{url_for('admin.logout')}}">
        <button class="logout-button">Logout</button>
    </a>
    <div>{{ graph|safe }}</div>
</body>
</html>